.label {
    font-family: 'pn-semibold';
    display: block;
    color: #344178;
    text-align: left;
    margin-bottom: 20px;

    div {
      margin-bottom: 10px;
    }
  }

.input {
  box-sizing: border-box;
  font-family: 'pn-regular';
  width: 100%;
  height: 36px;
  border: 1px solid #344178;
  color: #344178;
  border-radius: 5px;
  padding-left: 15px;
  outline: none;

  &.input__error {
    border: 1px solid #d24b4b;
  }

  &.input__success {
    border: 1px solid #35ad35;
  }
}

.input-wrapper {
  position: relative;

  .input {
    padding-left: 40px;
  }

  &_login:before {
    background: url('../../../images/icons/login.png');
  }

  &_password:before {
    background: url('../../../images/icons/password.png');
  }

  &_phone:before {
    background: url('../../../images/icons/phone.png');
  }

  &_text:before {
    background: url('../../../images/icons/txt.png');
  }

  &_promo:before {
    background: url('../../../images/icons/promo.png');
  }

  &_club:before {
    background: url('../../../images/icons/club.png');
  }

  &_location:before {
    background: url('../../../images/icons/location.png');
  }

  &_search:before {
    background: url('../../../images/icons/search.png');
    width: 17px !important;
    height: 17px !important;
  }

  &:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}