@font-face {
  font-family: 'pn-bold';
  src: url('./fonts/ProximaNova-Bold.woff');
}

@font-face {
  font-family: 'pn-semibold';
  src: url('./fonts/ProximaNova-Semibold.woff');
}

@font-face {
  font-family: 'pn-regular';
  src: url('./fonts/ProximaNova-Regular.woff');
}

$mobile: 699px;

html, body, #root, .router {
  height: 100%;
}

div, form {
  box-sizing: border-box;
}

ul, p {
  margin: 0;
}

a {
  color: #467bdd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: #f2f2f9;
  min-width: 305px;
}

.textarea {
  font-family: 'pn-regular';
  height: 140px;
  width: 100%;
  resize: none;
  border: 1px solid #344178;
  color: #344178;
  border-radius: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  padding-top: 10px;
  outline: none;
}

.page-container {
  max-width: 1170px;
  margin: 0 auto;
}

.page {
  background: #fff;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  @media screen and (max-width : $mobile) {
    padding-top: 10px;
  }
}

.button {
  font-family: 'pn-semibold';
  background-color: #344178;
  width: 210px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .2s;

  &_add {
    padding-left: 30px;
    background-image: url('./images/icons/add_white.png');
    background-repeat: no-repeat;
    background-position-y: center;
    white-space: nowrap;
  }

  &_remove {
    padding-left: 25px;
    background: url('./images/icons/basket-red.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
  }

  &_gray {
    background-color: #f2f2f8;
    color: #344178;
    transition: all .2s;

    &:hover {
      background-color: #e4e4f4 !important;
    }
  }

  &_red {
    background-color: #feeaea;
    color: #783434;
    transition: all .2s;

    &:hover {
      background-color: #f8bebe !important;
    }
  }
}

.button[disabled] {
  background-color: #f2f2f8;
  color: #344178;
  cursor: not-allowed;

  .button_add {
    background-image: url('./images/icons/add.png');
  }
}

.button:not([disabled]):hover {
  background-color: #475699;
}

.button:focus {
  transition: none;
  background-color: #2d3868;
}

.button-edit {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/edit.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/edit-hover.png');
    background-color: #c9ffd3;
  }

  &_big {
    width: 50px;
    height: 50px;
    background-image: url('./images/icons/edit-big.png');

    &:hover {
      background-image: url('./images/icons/edit-big-hover.png');
    }
  }

  @media screen and (max-width : $mobile) {
    background-image: url('./images/icons/edit-hover.png');
    background-color: #c9ffd3;
  }
}

.button-remove {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/basket.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/basket-hover.png');
    background-color: #ffdede;
  }

  &_big {
    width: 50px;
    height: 50px;
    background-image: url('./images/icons/basket-big.png');

    &:hover {
      background-image: url('./images/icons/basket-big-hover.png');
    }
  }

  @media screen and (max-width : $mobile) {
    background-image: url('./images/icons/basket-hover.png');
    background-color: #ffdede;
  }
}

.button-lock {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/lock.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/lock-hover.png');
    background-color: #dee3ff;
  }

  &_active {
    background-image: url('./images/icons/lock-active.png');
    &:hover {
      background-image: url('./images/icons/lock-active.png');
    }
  }

  @media screen and (max-width : $mobile) {
    background-image: url('./images/icons/lock-hover.png');
    background-color: #dee3ff;
  }
}

.search-block {
  display: flex;
  align-items: center;
  padding: 0 30px 30px;
  height: 70px;
  @media screen and (max-width : $mobile) {
    padding: 0 20px 10px;
    flex-wrap: wrap;
    height: 150px;
  }

  &__title {
    width: 270px;
    font-family: 'pn-semibold';
    font-size: 18px;
    color: #344178;
    @media screen and (max-width : $mobile) {
      text-align: center;
      width: 100%;
    }

    &_red {
      color: #ff6262;
    }
  }

  &__input {
    width: 600px;
    margin-right: 30px;
    @media screen and (max-width : $mobile) {
      margin-right: 0;
    }
    input.input {
      border: 1px solid #344178;
    }
  }

  button {
    @media screen and (max-width : $mobile) {
      margin: 0 auto;
    }
  }
}

.empty-table {
  text-align: center;
  font-family: 'pn-semibold';
  padding: 50px;
  color: #344178;
}

.unit-header {
  position: relative;
  font-family: 'pn-semibold';
  color: #344178;
  height: 100px;
  line-height: 100px;
  padding-left: 140px;

  @media screen and (max-width : $mobile) {
    padding-left: 20px;
    background: none !important;
    line-height: 60px;
    height: 135px;
  }

  &_client {
    background: url('./images/icons/unit-client.png') no-repeat left;
  }

  &_club {
    background: url('./images/icons/unit-club.png') no-repeat left;
  }

  &__remove {
    position: absolute;
    right: 30px;
    top: 0px;
    @media screen and (max-width : $mobile) {
      right: initial;
      top: initial;
      bottom: 0px;
      left: 20px;
    }

    .removed-text {
      color: #ff6262;
    }

    .tooltip {
      margin-top: 25px;
    }
  }
}

.unit-info {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  box-shadow: inset 0px 35px 65px -35px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  @media screen and (max-width : $mobile) {
    flex-wrap: wrap;
    padding: 0;
  }

  &__label {
    padding: 50px 0 0 30px;
    width: 270px;
    height: 147px;
    color: #fff;
    @media screen and (max-width : $mobile) {
      width: 100%;
      height: initial;
      padding: 20px;
      display: flex;
      background: #333f79 !important;
    }
    
    &_username {
      background: url('./images/bgs/label-username.png') no-repeat;
    }

    &_phone {
      background: url('./images/bgs/label-phone.png') no-repeat;
    }

    &_creator {
      background: url('./images/bgs/label-creator.png') no-repeat;
    }

    &_created {
      background: url('./images/bgs/label-created.png') no-repeat;
    }

    &_club {
      background: url('./images/bgs/label-club.png') no-repeat;
    }
  }

  &__name {
    font-family: 'pn-semibold';
    font-size: 14px;
    margin-bottom: 25px;
    @media screen and (max-width : $mobile) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  &__text {
    font-family: 'pn-bold';
    font-size: 20px;
    @media screen and (max-width : $mobile) {
      font-size: 16px;
      text-align: right;
      width: 100%
    }
  }
}

.select {
  font-family: 'pn-regular';

  .select__control {
    height: 36px;
    border: 1px solid #344178;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: none;

    &:hover {
      border: 1px solid #344178;
    }
  }

  .select__single-value {
    color: #344178;
  }

  .select__indicator-separator {
    display: none;
  }

  .select__menu {
    margin-top: 0;
    border: 1px solid #344178;
    overflow: hidden;
  }

  .select__option--is-focused,
  .select__option--is-selected {
    background: #e1e1fa;
    color: #344178;
  }

  .select__option,
  .select__indicators,
  .select__value-container,
  .select__dropdown-indicator {
    margin-bottom: 0;
  }
}

.button-file {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
  transition: all .2s;
  
  &__xls {
    background-image: url('./images/icons/xls.png');
  }

  &__csv {
    background-image: url('./images/icons/csv.png');
  }

  &:hover {
    background-color: #f2f2f8;
  }
}

.textarea-icon {
  position: relative;
  
  .textarea {
    padding-left: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
  }

  &__text:after {
    background: url('./images/icons/txt.png') no-repeat center;
  }
}

.crossline {
  height: 5px;
  background-color: #ff6262;
}

.as-link {
  text-decoration: underline;
  cursor: pointer;
}