@font-face {
  font-family: 'pn-bold';
  src: url('./fonts/ProximaNova-Bold.woff');
}

@font-face {
  font-family: 'pn-semibold';
  src: url('./fonts/ProximaNova-Semibold.woff');
}

@font-face {
  font-family: 'pn-regular';
  src: url('./fonts/ProximaNova-Regular.woff');
}

html, body, #root, .router {
  height: 100%;
}

div, form {
  box-sizing: border-box;
}

ul, p {
  margin: 0;
}

a {
  color: #467bdd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: #f2f2f9;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.page {
  background: #fff;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.button {
  font-family: 'pn-semibold';
  background-color: #344178;
  width: 210px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .2s;

  &_add {
    padding-left: 30px;
    background: url('./images/icons/add.png');
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(10);
  }
}

.button[disabled] {
  background-color: #f2f2f8;
  color: #344178;
  cursor: not-allowed;

  .button_add {
    filter: brightness(1);
  }
}

.button:not([disabled]):hover {
  background-color: #475699;
}

.button:focus {
  transition: none;
  background-color: #2d3868;
}

.button-remove {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/basket.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/basket-hover.png');
    background-color: #ffdede;
  }

  &_big {
    width: 50px;
    height: 50px;
    background-image: url('./images/icons/basket-big.png');

    &:hover {
      background-image: url('./images/icons/basket-big-hover.png');
    }
  }
}

.button-lock {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/lock.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/lock-hover.png');
    background-color: #dee3ff;
  }

  &_active {
    background-image: url('./images/icons/lock-active.png');
    &:hover {
      background-image: url('./images/icons/lock-active.png');
    }
  }
}

.search-block {
  display: flex;
  align-items: center;
  padding: 0 30px 30px;
  height: 70px;

  &__title {
    width: 270px;
    font-family: 'pn-semibold';
    font-size: 18px;
    color: #344178;
  }

  &__input {
    width: 600px;
    margin-right: 30px;
    input.input {
      border: 1px solid #344178;
    }
  }
}

.empty-table {
  text-align: center;
  font-family: 'pn-semibold';
  padding: 50px;
  color: #344178;
}

.unit-header {
  position: relative;
  font-family: 'pn-semibold';
  color: #344178;
  height: 100px;
  line-height: 100px;
  padding-left: 140px;

  &_client {
    background: url('./images/icons/unit-client.png') no-repeat left;
  }

  &_club {
    background: url('./images/icons/unit-club.png') no-repeat left;
  }

  &__remove {
    position: absolute;
    right: 30px;
    top: 25px;
  }
}

.unit-info {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  box-shadow: inset 0px 35px 65px -35px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;

  &__label {
    padding: 50px 0 0 30px;
    width: 270px;
    height: 147px;
    color: #fff;
    
    &_username {
      background: url('./images/bgs/label-username.png') no-repeat;
    }

    &_phone {
      background: url('./images/bgs/label-phone.png') no-repeat;
    }

    &_creator {
      background: url('./images/bgs/label-creator.png') no-repeat;
    }

    &_created {
      background: url('./images/bgs/label-created.png') no-repeat;
    }

    &_club {
      background: url('./images/bgs/label-club.png') no-repeat;
    }
  }

  &__name {
    font-family: 'pn-semibold';
    font-size: 14px;
    margin-bottom: 25px;
  }

  &__text {
    font-family: 'pn-bold';
    font-size: 20px;
  }
}