@font-face {
  font-family: 'pn-bold';
  src: url('./fonts/ProximaNova-Bold.woff');
}

@font-face {
  font-family: 'pn-semibold';
  src: url('./fonts/ProximaNova-Semibold.woff');
}

@font-face {
  font-family: 'pn-regular';
  src: url('./fonts/ProximaNova-Regular.woff');
}

html, body, #root, .router {
  height: 100%;
}

div, form {
  box-sizing: border-box;
}

ul, p {
  margin: 0;
}

a {
  color: #467bdd;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: #f2f2f9;
}

.page-container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  font-family: 'pn-semibold';
  background-color: #344178;
  width: 210px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all .2s;

  &_add {
    padding-left: 30px;
    background: url('./images/icons/add.png');
    background-repeat: no-repeat;
    background-position-y: center;
    filter: brightness(10);
  }
}

.button[disabled] {
  background-color: #f2f2f8;
  color: #344178;
  cursor: not-allowed;

  .button_add {
    filter: brightness(1);
  }
}

.button:not([disabled]):hover {
  background-color: #475699;
}

.button:focus {
  transition: none;
  background-color: #2d3868;
}

.button-remove {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/basket.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/basket-hover.png');
    background-color: #ffdede;
  }
}

.button-lock {
  margin: 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: url('./images/icons/lock.png') no-repeat center;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-image: url('./images/icons/lock-hover.png');
    background-color: #dee3ff;
  }

  &_active {
    background-image: url('./images/icons/lock-active.png');
    &:hover {
      background-image: url('./images/icons/lock-active.png');
    }
  }
}

.search-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 30px;

  &__title {
    font-family: 'pn-semibold';
    font-size: 18px;
    color: #344178;
  }

  &__input {
    width: 600px;
    input.input {
      border: 1px solid #344178;
    }
  }
}

.empty-table {
  text-align: center;
  font-family: 'pn-semibold';
  padding: 50px;
  color: #344178;
  
}
