$mobile: 699px;

.header {
  background-image: url('../../images/bgs/header.jpg');
  background-repeat: repeat-y;
  background-size: contain;
  height: 180px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__pic {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url('../../images/icons/logo-white.png');
    background-repeat: no-repeat;
    @media screen and (max-width : $mobile) {
      width: 40px;
      height: 40px;
      background-size: contain;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 25px;
    font-size: 30px;
    color: #fff;
    font-family: 'pn-bold';
    span {
      font-family: 'pn-regular';
      display: block;
      font-size: 18px;
    }
    @media screen and (max-width : $mobile) {
      display: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__username {
    font-family: 'pn-regular';
    color: #fff;
    font-size: 18px;
  }

  &__avatar_min {
    background-size: 50%;
    background-position: 0px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 20px;
    background-size: contain;
    line-height: 20px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-left: 25px;

    &_admin {
      &.header__avatar_1 {
        background-image: url('../../images/avatars/admin/1.png');
      }
      &.header__avatar_2 {
        background-image: url('../../images/avatars/admin/2.png');
      }
      &.header__avatar_3 {
        background-image: url('../../images/avatars/admin/3.png');
      }
      &.header__avatar_4 {
        background-image: url('../../images/avatars/admin/4.png');
      }
      &.header__avatar_5 {
        background-image: url('../../images/avatars/admin/5.png');
      }
      &.header__avatar_6 {
        background-image: url('../../images/avatars/admin/6.png');
      }
      &.header__avatar_7 {
        background-image: url('../../images/avatars/admin/7.png');
      }
      &.header__avatar_8 {
        background-image: url('../../images/avatars/admin/8.png');
      }
      &.header__avatar_9 {
        background-image: url('../../images/avatars/admin/9.png');
      }
      &.header__avatar_10 {
        background-image: url('../../images/avatars/admin/10.png');
      }
      &.header__avatar_11 {
        background-image: url('../../images/avatars/admin/11.png');
      }
      &.header__avatar_12 {
        background-image: url('../../images/avatars/admin/12.png');
      }
      &.header__avatar_13 {
        background-image: url('../../images/avatars/admin/13.png');
      }
      &.header__avatar_14 {
        background-image: url('../../images/avatars/admin/14.png');
      }
      &.header__avatar_15 {
        background-image: url('../../images/avatars/admin/15.png');
      }
    }
    &_agent {
      &.header__avatar_1 {
        background-image: url('../../images/avatars/agent/1.png');
      }
      &.header__avatar_2 {
        background-image: url('../../images/avatars/agent/2.png');
      }
      &.header__avatar_3 {
        background-image: url('../../images/avatars/agent/3.png');
      }
      &.header__avatar_4 {
        background-image: url('../../images/avatars/agent/4.png');
      }
      &.header__avatar_5 {
        background-image: url('../../images/avatars/agent/5.png');
      }
      &.header__avatar_6 {
        background-image: url('../../images/avatars/agent/6.png');
      }
      &.header__avatar_7 {
        background-image: url('../../images/avatars/agent/7.png');
      }
      &.header__avatar_8 {
        background-image: url('../../images/avatars/agent/8.png');
      }
      &.header__avatar_9 {
        background-image: url('../../images/avatars/agent/9.png');
      }
      &.header__avatar_10 {
        background-image: url('../../images/avatars/agent/10.png');
      }
      &.header__avatar_11 {
        background-image: url('../../images/avatars/agent/11.png');
      }
      &.header__avatar_12 {
        background-image: url('../../images/avatars/agent/12.png');
      }
      &.header__avatar_13 {
        background-image: url('../../images/avatars/agent/13.png');
      }
      &.header__avatar_14 {
        background-image: url('../../images/avatars/agent/14.png');
      }
      &.header__avatar_15 {
        background-image: url('../../images/avatars/agent/15.png');
      }
    }
    &_operator {
      &.header__avatar_1 {
        background-image: url('../../images/avatars/operator/1.png');
      }
      &.header__avatar_2 {
        background-image: url('../../images/avatars/operator/2.png');
      }
      &.header__avatar_3 {
        background-image: url('../../images/avatars/operator/3.png');
      }
      &.header__avatar_4 {
        background-image: url('../../images/avatars/operator/4.png');
      }
      &.header__avatar_5 {
        background-image: url('../../images/avatars/operator/5.png');
      }
      &.header__avatar_6 {
        background-image: url('../../images/avatars/operator/6.png');
      }
      &.header__avatar_7 {
        background-image: url('../../images/avatars/operator/7.png');
      }
      &.header__avatar_8 {
        background-image: url('../../images/avatars/operator/8.png');
      }
      &.header__avatar_9 {
        background-image: url('../../images/avatars/operator/9.png');
      }
      &.header__avatar_10 {
        background-image: url('../../images/avatars/operator/10.png');
      }
      &.header__avatar_11 {
        background-image: url('../../images/avatars/operator/11.png');
      }
      &.header__avatar_12 {
        background-image: url('../../images/avatars/operator/12.png');
      }
      &.header__avatar_13 {
        background-image: url('../../images/avatars/operator/13.png');
      }
      &.header__avatar_14 {
        background-image: url('../../images/avatars/operator/14.png');
      }
      &.header__avatar_15 {
        background-image: url('../../images/avatars/operator/15.png');
      }
    }
  }

  &__exit {
    width: 40px;
    height: 40px;
    background: url('../../images/icons/exit.png') no-repeat center;
    background-color: #487ea5;
    border-radius: 10px;
    transition: all .2s;
    margin-left: 15px;
    cursor: pointer;

    &:hover {
      background-color: #3b6686;
    }
  }
}