$mobile: 699px;

.popup-wrapper {
  display: table;
  background:#0006;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .popup-block {
    vertical-align: middle;
    display: table-cell;
    text-align: center;

    .content-wrapper {
      position: relative;
      display: inline-block;
      background: #fff;
      border-radius: 10px;
      padding: 35px 50px 20px;
      @media screen and (max-width : $mobile) {
        padding: 35px 25px 20px;
      }

      .close-btn {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        background: url('../../images/icons/close.png');

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &.showpopup-enter {
    opacity: 0.01;
  }

  &.showpopup-enter.showpopup-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &.showpopup-leave {
    opacity: 1;
  }

  &.showpopup-leave.showpopup-leave-active {
    opacity: 0.01;
    transition: opacity 150ms ease-in;
  }
}

.popup-content {
  &__title {
    font-family: 'pn-bold';
    color: #344178;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 210px;
    height: 40px;
    margin-top: 20px;
    @media screen and (max-width : $mobile) {
      margin-top: 10px;
    }
  }
}

.popup_confirm {
  width: 460px;
  overflow: hidden;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
  &__remove-content {
    line-height: 24px;
  }

  &__content {
    padding: 20px;
    font-family: 'pn-regular';
    color: #344178;
  }

  &__code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'pn-bold';

    .input {
      width: 70px;
      margin-left: 20px;
      font-family: 'pn-bold';
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width : $mobile) {
      display: block;
    }

    button {
      text-transform: capitalize;
    }
  }

  &__phone {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.popup_edit-name {
  width: 365px;
  height: 200px;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
}

.popup_edit-promo {
  width: 365px;
  height: 380px;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
}

.popup_edit-user {
  width: 365px;
  height: 370px;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
}

.popup_add-agent {
  width: 365px;
  height: 380px;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
}

.popup_add-club {
  width: 365px;
  height: 630px;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }
}

.popup_alert {
  width: 460px;
  min-height: 160px;
  overflow: hidden;
  @media screen and (max-width : $mobile) {
    max-width: 365px;
    width: 84vw;
  }

  &__alert {
    font-family: 'pn-regular';
    min-height: 75px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 28px 20px;
    margin-bottom: 10px;
    background-color: #1991eb;

    &_success {
      background-color: #36af47;
    }

    &_error {
      background-color: #ea7711;
    }

    &_info {
      background-color: #2491E6;

      .popup_alert__msg {
        background: none;
        padding-left: 0;
        line-height: 24px;
      }
    }
  }

  &__title {
    font-family: 'pn-bold';
    color: #344178;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__msg {
    padding-left: 30px;
    background: url('../../images/icons/info.png') no-repeat;
    background-position-y: center;
  }
}