$mobile: 699px;

.menu {
  height: 110px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 6%;
  margin-top: -45px;
  @media screen and (max-width : $mobile) {
      height: initial;
    }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f8;
    border-radius: 10px;
    height: 60px;
    @media screen and (max-width : $mobile) {
      height: 250px;
      flex-wrap: wrap;
      padding: 10px 0;
    }
  }

  .menu-tab {
    font-family: 'pn-semibold';
    color: #344178;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 280px;
    margin: 0 12px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
    @media screen and (max-width : $mobile) {
      text-align: left;
      padding-left: 70px;
      box-sizing: border-box;
    }

    &:hover {
      border: 2px solid #334077;
    }

    span {
      padding-left: 30px;
      margin-left: 3px;
      margin-right: 3px;
    }

    &_icon-club span {
      background: url('../../../images/icons/club.png') no-repeat left center;
    }

    &_icon-ops span {
      background: url('../../../images/icons/ops.png') no-repeat left center;
    }

    &_icon-agent span {
      background: url('../../../images/icons/ag.png') no-repeat left center;
    }

    &_icon-client span {
      background: url('../../../images/icons/client.png') no-repeat left center;
    }

    &_icon-promo span {
      background: url('../../../images/icons/promo.png') no-repeat left center;
    }

    &_disabled {
      background-color: transparent;
      cursor: not-allowed;

      &:hover {
        border: 2px solid transparent;
      }
    }

    &_active {
      border: 2px solid #334077;
      background-color: #fff;
      cursor: default;
      &:hover {
        border: 2px solid #334077;
      }
    }
  }
}